html, #app, .container {
    background-color: #112;
}

.circle {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.red {
    background-color: #900;
}

.yellow {
    background-color: #ed0;
}

.green {
    background-color: #070;
}

.red.box-shadow {
    box-shadow: 0 0 100px #f00e;
}

.yellow.box-shadow {
    box-shadow: 0 0 100px #ff0d;
}

.green.box-shadow {
    box-shadow: 0 0 100px #9f0e;
}